<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\Orc.Sort.Tests\Orc.Sort.Tests.NET40\packages.config" />
  <repository path="..\src\Orc.Sort.Tests\Orc.Sort.Tests.NET45\packages.config" />
  <repository path="..\src\Orc.Sort.Tests\packages.config" />
  <repository path="..\src\Orc.Sort\Orc.Sort.NET40\packages.config" />
  <repository path="..\src\Orc.Sort\Orc.Sort.NET45\packages.config" />
  <repository path="..\src\Orc.Sort\packages.config" />
</repositories>